<section class="success-section">
    <div class="container">

        <h2>🏆 Real Transformations</h2>
        <p class="subtitle">
            Inspiring journeys of people who changed their lives with dedication and fitness.
        </p>

        <div class="success-grid">

            <div class="success-card">
                <img src="/static/images/lalit.jpeg" alt="User 1">
                <h3>Amit Sharma</h3>
                <p>"I lost 12kg in 3 months with consistent workouts and diet control. Feeling more confident now!"</p>
            </div>

            <div class="success-card">
                <img src="/static/images/rahul.jpg" alt="User 2">
                <h3>Rahul Verma</h3>
                <p>"Fitness changed my lifestyle completely. I gained muscle and improved my stamina."</p>
            </div>

            <div class="success-card">
                <img src="/static/images/pooja.jpg" alt="User 3">
                <h3>Pooja Meena</h3>
                <p>"Yoga and proper nutrition helped me reduce stress and become more active."</p>
            </div>

        </div>

    </div>
</section>

{% extends "base.html" %}

{% block content %}

<section class="page-banner">

    <div class="container">

        <h1>
            Success Stories
        </h1>

    </div>

</section>

{% endblock %}